body {
    margin:auto;
    color: #888484;
}
p {
    color: #00CC00;
}

li {
    list-style: none;
}

.container {
    max-width:1400px;
}

.container h3 {
    color: #DC143C;
    margin-top:0px;
}

.container h1 {
    color: #DEB887;
    padding-bottom: 30px;
}

.container li h3 small {
    color: #DEB887;
}

.restaurant {
    /*background-color: #00CC00;*/

    border-color: #DC143C;
    border-width: 2px;
    width: 300px;
    float: left;
    margin: 15px;
    height: 200px;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: #ccc 2px 2px 5px;
}

.container h4 {
    padding-top:10px;
    line-height: 1.5;
}
