body {
    margin:auto;
}
p {
    color: #00CC00;
}

li {
    list-style: none;
}

.container {
    width:300px;
}

.container h3, h1 {
    color: #DC143C;
    margin-top:10px;
}

.container li h3 small {
    color: #DEB887;
}

li#last-child {
    /*background-color: #00CC00;*/
    border-bottom:solid;
    border-color: #DC143C;
    border-width:2px;
}