body {
    margin:auto;
    color: #888484;
}
p {
    color: #00CC00;
}

li {
    list-style: none;
}

.container-fluid {
    /*min-width:800px;*/
    color: #487800;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
}

.container-fluid .main-title {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    font-family: 'Lobster', cursive;
    font-size: 60px;

}

.container-fluid .mini-title {
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.container-fluid h3 {
    font-family: 'Droid Serif', serif;
    font-size: 30px;
    margin-top:0px;
}

.container-fluid li h3 small {
    color: #DEB887;
}

.container-fluid h4 {
    padding-top:10px;
    line-height: 1.5;
}


#map-canvas {
    height: 480px;
    width: 800px;
    margin: 0 auto;
    border-width: 10px;
    border-style: solid;
    border-color: #8f6646;
    box-shadow: 3px 3px 5px #464202;
}

.restaurant {
    /*background-color: #00CC00;*/
    border-color: #DC143C;
    border-width: 2px;
    width: 300px;
    float: left;
    margin: 15px;
    height: 200px;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: #ccc 2px 2px 5px;
}

#content {
    color: #c15e23;
    padding: 5px 30px 5px 5px;
}

#content  .firstHeading {
    border-bottom-width: 5px;
    border-bottom: solid;
}

.firstHeading {
    text-align: left;
    font-family: 'Droid Serif', serif;
    font-size: 25px;
    font-variant-caps: small-caps;
    padding-bottom: 10px;
    margin-top: 10px;
}

.secondHeading, .thirdHeading, .fourthHeading  {
    text-align: left;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    font-variant: normal;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #efefef;
    text-align: center;
    color: #c15e23;
}

.footer p {
    color: #c15e23;
}

